{
  "propel": {
    "paths": {
      "outputDir": "./propel/",
      "phpDir": "./propel/model/",
      "sqlDir": "./propel/sql",
      "phpConfDir": "./propel/conf"
    },
    "database": {
      "connections": {
        "spoilerwiki-local": {
          "adapter": "mysql",
          "dsn": "mysql:host=localhost;dbname=scotchbox",
          "user": "root",
          "password": "root",
          "attributes": []
        },
        "spoilerwiki-remote": {
          "adapter": "mysql",
          "dsn": "mysql:host=192.168.33.10;dbname=scotchbox",
          "user": "root",
          "password": "root",
          "attributes": []
        }
      }
    },
    "runtime": {
      "defaultConnection": "spoilerwiki-local",
      "connections": ["spoilerwiki-local","spoilerwiki-remote"]
    },
    "generator": {
      "defaultConnection": "spoilerwiki-remote",
      "connections": ["spoilerwiki-remote","spoilerwiki-local"]
    }
  }
}