<div class="col-md-4">
    <div class="panel panel-default">
        <div class="panel-heading">Artists</div>
        <div class="panel-body">
            {% if viewData.artistList|length > 0 %}
                <ul class="list-group">
                    {% for Artist in viewData.artistList %}
                        <li class="list-group-item">{{ artist.Name }}</li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>There aren't any artists yet</p>
            {% endif %}
            <div class="actions right">
                <button class="btn btn-success ">Add new artist</button>
            </div>
        </div>
    </div>
</div>