<div class="col-md-4">
    <div class="panel panel-default">
        <div class="panel-heading">Artists</div>
        <div class="panel-body">
            {% if viewData.artistList|length > 0 %}
                <ul class="list-group">
                    {% for Artist in viewData.artistList %}
                        <li class="list-group-item">
                            <h4 class="list-group-item-heading">{{ Artist.Name }}</h4>
                            <div class="list-group-item-text btn-group btn-group-xs">
                                <a class="btn btn-default" href="/contribute/edit/artist/{{ Artist.Id }}">edit</a>
                                <a class="btn btn-danger" href="/contribute/delete/artist/{{ Artist.Id }}">delete</a>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>There aren't any artists yet</p>
            {% endif %}
            <div class="actions right">
                <a href="/contribute/create/artist" class="btn btn-success ">Add new artist</a>
            </div>
        </div>
    </div>
</div>