{% extends "layout.twig" %}
{% block headingWidget %}
{% endblock %}
{% block navLeft %}
{% endblock %}
{% block content %}
    <h1>Create {{ modelName }}</h1>
    <form role="form" method="post">
        {% for field in fieldList %}
                {% include field.template with {"field" : field } %}
        {% endfor %}
        <input type="submit" name="submit" id="submit" value="Submit" class="btn btn-info pull-right">
    </form>
{% endblock %}